main {
  background: #363435;
}

.hook {
  height: 70vh;
  background: linear-gradient(#fe4700, #363435);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 15vw;
}

.hook-text{
  align-self: center;
  text-align: left;
}

h1 {
  color: #fff;
  font-size: 4em;
  font-weight: bold;
}

h2 {
  color: #fff;
  font-size: 2em;
  padding-bottom: 5px;
}

h3 {
  color: #fff;
  font-size: 1.2em;
}

.hook a {
  background: #fe4700;
  color: #fff;
  margin-top: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  min-height: 30px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2em;
}

.hook a:hover {
  transform: scale(1.05);
}

.hook img {
  width: 40%;
  height: auto;
}

@media (max-width: 768px) {
  .hook img {
      display: none;
  }

  .hook {
      flex-direction: column;
      justify-content: center;
  }

  .hook-text{
      text-align: center;
  }

  h1 {
      font-size: 3em;
  }

  h2 {
      font-size: 1.5em;
  }
}

button{
  min-height: 30px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}